<section class="title">
	<h1>カート内商品一覧</h1>
</section>

<div>
	<%= link_to "購入画面へ行く", new_order_path %>
</div>

<div class="clearfix">
<% @products.each do |p| %>
<div class="product__images">
	<%= link_to product_path(p.product_id) do %>
	<%= attachment_image_tag p.product, :product_image, fallback: "img/no_image.jpg", class: "images" %>
	<% end %>

	<div class="product__description">
		<%= p.product.cd_title %> <br>
		<% price = p.product.price * 1.1%>
		<%= price.floor %>円(税込) <br>
		カート内個数: <%= p.quantity %>
	</div>

	<div>
		<%= form_for p, url: cart_product_path(p.id) do |f| %>
			<%= f.number_field :quantity, min: 1, max: p.product.stock %>
			<%= f.submit "個数を変更" %>
		<% end %>
		<%= link_to "商品をカートから削除", cart_product_path(p.id), method: :delete, class: "btn" %>
	</div>
</div>
<% end %>
</div>
