<h2 class="title">ユーザー新規登録</h2>

<section class="form-all">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, "メールアドレス", class: "form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-field" %>
  </div>

  <div class="field">
    <%= f.label :last_name, "苗字", class: "form-label" %><br />
    <%= f.text_field :last_name, class: "form-field" %>
  </div>

  <div class="field">
    <%= f.label :first_name, "名前", class: "form-label" %><br />
    <%= f.text_field :first_name, class: "form-field" %>
  </div>

 <div class="field">
    <%= f.label :last_name_kana, "苗字カナ", class: "form-label" %><br />
    <%= f.text_field :last_name_kana, class: "form-field" %>
  </div>

  <div class="field">
    <%= f.label :first_name_kana, "名前カナ", class: "form-label" %><br />
    <%= f.text_field :first_name_kana, class: "form-field" %>
  </div>

  <div class="field">
    <%= f.label :gender, "姓", class: "form-label" %><br />
    <%= f.select :gender, Customer.genders.keys, {prompt: "選択してください"}, class: "form-field" %>
  </div>

  <div class="field">
    <%= f.label :birthday, "誕生日", class: "form-label" %><br />
    <%= f.date_select :birthday, :use_month_numbers => true, :use_two_digit_numbers => true, start_year: 1930, class: "form-field" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード", class: "form-label" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-field" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード確認", class: "form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-field" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録", class: "btn" %>
  </div>
<% end %>

<%= render "customers/shared/links" %>
</section>