<section class="title">
	<h1>商品一覧</h1>
</section>


<% @products.each do |p| %>
<div class="product__images">
	<%= link_to product_path(p.id) do %>
	<%= attachment_image_tag p, :product_image, fallback: "img/no_image.jpg", class: "images" %>
	<% end %>

	<div class="product__description">
		<%= p.cd_title %> <br>
		<% price = p.price * 1.1 %>
		<%= price.floor %>円(税込) <br>
		在庫<%= p.stock %>個
	</div>
</div>
<% end %>