<h2>商品詳細</h2>

<div>
	<%= attachment_image_tag @product, :product_image, fallback: "img/no_image.jpg", class: "images" %> <br>
	商品名：<%= @product.cd_title %> <br>

	<% price = @product.price * 1.1 %>
	価格：<%= price.floor %>円(税込) <br>
	在庫<%= @product.stock %>個
</div>



<div>
<% if customer_signed_in? %>
	<%= form_for @cart, url: product_cart_products_path(@product.id) do |f| %>
	<h3>カートへ追加</h3>
	<%= f.label :quantity, "個数" %>
	<br>
	<%= f.number_field :quantity, min: 1, max: @product.stock %>
	<br>
	<%= f.submit "カートに商品を追加" %>
	<% end %>
<% end %>
</div>